<div class="container-fluid vw-100 vh-100">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <table
        class="table table-dark table-striped text-center"
        style="margin-top: 20vh"
      >
        <thead>
          <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th>user_level</th>
            <th>access_token</th>
            <th colspan="2">Action</th>
          </tr>
        </thead>
        <tbody>
          <%= UserData.forEach(i = { %>
          <tr>
            <td><%= i.id %></td>
            <td><%= i.username %></td>
            <td><%= i.password %></td>
            <td><%= i.role %></td>
            <td><%= i.access_token %></td>
            <td><a class="btn btn-warning" href="#">Update</a></td>
            <td><a class="btn btn-danger" href="#">Delete</a></td>
          </tr>
          <% }) % >
        </tbody>
      </table>
    </div>
  </div>
</div>
