<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Muhamad Tharif Hasan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="assets/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/Bootstrap/css/style.css" />
    <link rel="icon" href="assets/icon.ico" />
    <title>Game Traditional</title>
  </head>
  <body class="light-brown gameplays">
    <div id="wrapper" class=""></div>
    <%-body %>
    <script src="assets/Bootstrap/js/bootstrap.bundle.js"></script>
    <script src="assets/Bootstrap/js/index.js"></script>
  </body>
</html>
