<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Assets/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../Assets/Bootstrap/css/style.css" />
    <link
      rel="stylesheet"
      href="../Assets/Bootstrap/icons/bootstrap-icons.css"
    />
    <link rel="icon" href="../Assets/icon.ico" />
    <title>Game Traditional</title>
  </head>
  <body class="bg-dark">
    <!-- section 1 -->
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <a href="#" class="navbar-brand" style="margin-left: 100px"
        ><img
          src="../Assets/logo.png"
          class="img-fluid"
          alt="logo"
          style="width: 50px; height: 50px"
      /></a>
      <button
        class="navbar-toggler me-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto w-50" style="margin-right: 15vw">
          <li class="nav-items">
            <a class="nav-link px-4" href="/">HOME</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">WORK</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">CONTACT</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">ABOUT US</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">Q&A</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto" style="margin-right: 2vw">
          <li class="nav-items">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="/signup">SIGN UP</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end navbar -->
    <%- body %>

    <!-- Start ! Section 6 newsletter -->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-4 col-4 offset-lg-1 mt-5">
          <img
            class="img-fluid w-75 h-100"
            src="Assets/skull.png"
            alt="skull"
          />
        </div>
        <div class="col-lg-6 col-8">
          <p class="text-white" style="font-size: 18px; margin-top: 20vh">
            Want to stay in <br />
            touch?
          </p>
          <div>
            <h1
              style="
                letter-spacing: 5px;
                font-size: 70px;
                overflow: hidden !important;
              "
              class="lh-1; newsTitle"
            >
              NEWSLETTER <br />
              SUBSCRIBE
            </h1>
            <p class="text-white">
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your email address here, example : mtharif@binar.co.id"
                    aria-label="Your email address"
                    aria-describedby="button-addon2"
                  />
                  <button
                    style="background-color: #f3af34"
                    class="btn"
                    type="button"
                    id="button-addon2"
                  >
                    Subscribe Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container newsCont" style="border-bottom: 1px solid white">
        <div class="row">
          <div class="col-lg-1 offset-lg-1 col-md-1 offset-md-1 col-sm-2 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">MAIN</p>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">ABOUT</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">
              GAME FEATURES
            </p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">
              SYSTEM REQUIREMENTS
            </p>
          </div>
          <div
            class="col-lg-1 col-md-2 col-sm-2 offset-4 offset-md-0 offset-sm-0 col-4"
          >
            <p class="linkFoot text-white" style="font-size: 12px">QUOTES</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-youtube"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-twitch"></i></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <p class="text-white copy">
              © 2018 Your Games, Inc. All Rights Reserved
            </p>
          </div>
          <div class="col-lg-4 offset-lg-4 col-md-6">
            <p class="text-white policy">
              Privacy Policy | Terms of Services | Code of Conduct
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END ! Section 6 newsletter -->
    <script src="../Assets/Bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
