<div class="container-fluid">
  <div class="row" style="position: fixed; top: 0; left: 0; z-index: 9999">
    <div class="col-auto">
      <a class="nav-link arrow dark-brown" href="/"><</a>
    </div>
    <div class="col-auto mt-4">
      <img class="img-fluid icon fs-5" src="assets/logo.png" alt="icon-logo" />
    </div>
    <div class="col-auto mt-4">
      <p class="fs-3 yellow fw-bold">ROCK PAPER SCISSORS</p>
    </div>
  </div>
  <div class="row" style="margin-top: 15vh">
    <div
      class="playerWrap col-lg-3 offset-lg-3 col-md-3 offset-md-1 col-sm-4 col-auto"
    >
      <p class="fs-1 fw-bold">PLAYER 1</p>
      <img
        class="player rock img-fluid d-block"
        src="assets/rock.png"
        alt="rock"
      />
      <img
        class="player scissors img-fluid d-block"
        src="assets/scissors.png"
        alt="scissors"
      />
      <img
        class="player paper img-fluid d-block"
        src="assets/paper.png"
        alt="paper"
      />
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
      <div
        class="position-absolute top-50 start-50 translate-middle fw-bold result"
      >
        VS
      </div>
    </div>
    <div
      class="col-lg-3 offset-md-3 col-md-3 col-sm-3 ms-sm-auto ms-auto ms-lg-0 col-auto"
    >
      <p class="fs-1 fw-bold">COM</p>
      <img class="comRock img-fluid d-block" src="assets/rock.png" alt="rock" />
      <img
        class="comScissors img-fluid d-block"
        src="assets/scissors.png"
        alt="scissors"
      />
      <img
        class="comPaper img-fluid d-block"
        src="assets/paper.png"
        alt="paper"
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="position-absolute bottom-0 start-50 translate-middle-x mb-2">
    <a class="nav-link" href="/game">
      <img
        class="img-fluid refresh"
        src="assets/refresh.png"
        alt="refresh-page"
      />
    </a>
  </div>
</div>
