<div class="main-bg vw-100 vh-100 position-relative">
  <div
    class="position-absolute top-50 start-50 translate-middle text-center main-text"
  >
    <h1 style="overflow: hidden !important">PLAY TRADITIONAL GAME</h1>
    <p class="text-white text-center fs-5">
      Experience now traditional game play
    </p>
    <a class="btn py-2 mt-2 play" href="/game">PLAY NOW</a>
  </div>
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-center"
  >
    <a
      id="story-scroll"
      class="nav-link story link-light"
      href="#special"
      type="button"
    >
      <p class="text fs-5">The Story</p>
      <img class="icon" src="Assets/scroll-down.svg" alt="scroll" />
    </a>
  </div>
</div>
<!-- end of section 1 -->
<!-- start ! section 2 -->
<div
  data-bs-spy="scroll"
  data-bs-target="#story-scroll"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="scrollspy-example bg-light"
  tabindex="0"
>
  <div id="special" class="special">
    <div class="row">
      <div
        class="col-lg-3 offset-lg-1 mt-5 text-white text-lg-start text-center"
      >
        <h4 style="overflow: hidden" class="spc">What's so special?</h4>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-3 offset-lg-1 mt-1 text-white text-lg-start text-center"
      >
        <h1 style="overflow: hidden !important">THE GAMES</h1>
      </div>
      <div class="col-lg-7 mt-1">
        <!-- carousel -->
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="assets/rockpaperstrategy-1600.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/rockpaperstrategy-1600.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/rockpaperstrategy-1600.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/rockpaperstrategy-1600.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="assets/rockpaperstrategy-1600.jpg"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- end ! carousel -->
      </div>
    </div>
  </div>
</div>
<!-- start ! section 3 -->
<div class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 offset-lg-7 col-md-5 offset-md-7 col-12">
        <h4 class="text-white overflow-hidden" style="margin-top: 25vh">
          What's so special?
        </h4>
        <div>
          <h3
            style="font-size: 4em; overflow: hidden !important"
            class="fw-bold text-white"
          >
            features
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
        <img class="text-lg-end img-fluid" src="Assets/ellipse.svg" alt="" />
        <br />
        <div class="line"></div>
      </div>
      <div class="col-lg-4 col-md-4 col-11">
        <h4 style="overflow: hidden; letter-spacing: 3px; color: #f3af34">
          TRADITIONAL GAMES
        </h4>
        <p class="text-white fs-6" style="word-spacing: 5px">
          if you miss your childhood, we provide many traditional games here
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
        <img
          class="img-fluid mb-1"
          src="Assets/ellipse-outline.svg"
          alt="ellipse-outline"
        />
      </div>
      <div class="col-lg-4 col-md-4 col-11">
        <h4
          class="mb-5"
          style="overflow: hidden; letter-spacing: 3px; color: #f3af34"
        >
          GAME SUIT
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
        <img
          class="img-fluid mb-1"
          src="Assets/ellipse-outline.svg"
          alt="ellipse-outline"
        />
      </div>
      <div class="col-lg-4 col-md-4 col-11">
        <h4
          class="mb-5"
          style="overflow: hidden; letter-spacing: 3px; color: #f3af34"
        >
          TBD
        </h4>
      </div>
    </div>
  </div>
</div>
<!-- end ! section 3 FEATURES -->
<!-- Start ! Section 4 SYSTEM REQ -->
<div class="sysreq">
  <div class="mx-auto">
    <div class="row">
      <div style="text-align: center; margin-top: 12vh" class="col-12">
        <p class="text-white" style="font-size: 18px">
          Can My Computer Run this game?
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12 offset-1">
        <h1
          class="lh-1 sysreqTitle"
          style="letter-spacing: 5px; font-size: 5em; overflow: hidden"
        >
          SYSTEM REQUIREMENTS
        </h1>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-2 col-5 offset-1 offset-lg-1"
        style="border: 1px solid white"
      >
        <p class="sysTitle" style="color: #f3af34; font-size: 18px">OS :</p>
        <p class="sysTxt text-white" style="font-size: 12px">
          Windows 7 64-bit only <br />(No OSX support at this time)
        </p>
      </div>
      <div class="col-lg-2 col-5" style="border: 1px solid white">
        <p class="sysTitle" style="color: #f3af34; font-size: 18px">
          PROCESSOR :
        </p>
        <p class="sysTxt text-white" style="font-size: 12px">
          Intel Core 2 Duo @ 2.4 GHZ or <br />
          AMD Athlon X2 @ 2.8 GHZ
        </p>
      </div>
    </div>
    <!-- second row -->
    <div class="row">
      <div
        class="col-lg-2 offset-lg-1 col-5 offset-1"
        style="border: 1px solid white"
      >
        <p class="sysTitle" style="color: #f3af34; font-size: 18px">MEMORY :</p>
        <p class="sysTxt text-white" style="font-size: 12px">4 GB RAM</p>
      </div>
      <div class="col-lg-2 col-5" style="border: 1px solid white">
        <p class="sysTitle" style="color: #f3af34; font-size: 18px">
          STORAGE :
        </p>
        <p class="sysTxt text-white" style="font-size: 12px">
          8 GB Available Space
        </p>
      </div>
    </div>
    <div class="row">
      <div
        class="col-lg-4 offset-lg-1 col-10 offset-1"
        style="border: 1px solid white"
      >
        <p class="sysTitle" style="color: #f3af34; font-size: 18px">
          GRAPHICS :
        </p>
        <p class="sysTxt text-white" style="font-size: 12px">
          NVIDIA GeForce GTX 660 2GB or <br />
          AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
        </p>
      </div>
    </div>
    <!-- end second row -->
  </div>
</div>
<!-- End ! Section 4 SYSTEM REQ -->
<!-- Start ! Section 5 TOP SCORES -->
<div class="topScores position-relative">
  <div
    class="position-absolute top-50 start-0 translate-middle-y topTitle"
    style="margin-left: 10vw"
  >
    <h2
      style="letter-spacing: 5px; font-size: 4em; overflow: hidden !important"
      class="text-white"
    >
      TOP SCORES
    </h2>
    <p class="text-white">
      This top score from various games provided on this platform
    </p>
    <button style="background-color: #f3af34" class="btn py-2 px-5 fw-bold">
      see more
    </button>
  </div>
  <!-- Start ! Card 1 -->
  <div class="row">
    <div class="col-lg-4 offset-lg-7 col-12 col-sm-6 offset-sm-1">
      <div
        class="mt-5"
        style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.08)"
        class="myCard;"
      >
        <div class="row position-relative">
          <div class="col-lg-3 col-3">
            <img
              class="mt-1"
              style="border-radius: 50%; position: relative; z-index: 1"
              src="Assets/evan-lahti.jpg"
              alt=""
            />
            <img
              class="mt-1"
              style="
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 20px;
              "
              src="Assets/ellipse-orange.png"
              alt=""
            />
          </div>
          <div class="col-lg-7 col-7 mt-1">
            <p
              class="lh-1"
              style="font-size: 24px; color: #f3af34; overflow: hidden"
            >
              Evan Lahti
            </p>
            <p style="font-size: 16px" class="text-white-50">PC Gamer</p>
          </div>
          <div class="col-lg-2 col-2 mt-1">
            <img style="cursor: pointer" src="Assets/twitter.svg" alt="twt" />
          </div>
        </div>
        <div class="row">
          <p class="text-white ms-2">
            “One of my gaming highlights of the year.”
          </p>
        </div>
        <div class="row">
          <p class="text-white-50 ms-2">October 18, 2018</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End ! Card 1 -->
  <!-- Start ! Card 2 -->
  <div class="row">
    <div class="col-lg-4 offset-lg-6 col-12 col-sm-6">
      <div
        class="mt-5"
        style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.08)"
        class="myCard;"
      >
        <div class="row position-relative">
          <div class="col-lg-3 col-3">
            <img
              class="mt-1"
              style="
                border-radius: 50%;
                position: relative;
                z-index: 1;
                width: 70px;
              "
              src="Assets/jada-griffin.jpg"
              alt=""
            />
            <img
              class="mt-1"
              style="
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 20px;
              "
              src="Assets/ellipse-orange.png"
              alt=""
            />
          </div>
          <div class="col-lg-7 col-7 mt-1">
            <p
              class="lh-1"
              style="font-size: 24px; color: #f3af34; overflow: hidden"
            >
              Jada Griffin
            </p>
            <p style="font-size: 16px" class="text-white-50">Nerdreactor</p>
          </div>
          <div class="col-lg-2 col-2 mt-1">
            <img style="cursor: pointer" src="Assets/twitter.svg" alt="twt" />
          </div>
        </div>
        <div class="row">
          <p class="text-white ms-2">
            “The next big thing in the world of streaming and survival games.”
          </p>
        </div>
        <div class="row">
          <p class="text-white-50 ms-2">December 21, 2018</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Card 2 -->
  <!-- Start ! Card 3 -->
  <div class="row">
    <div class="col-lg-4 offset-lg-7 col-12 col-sm-6 offset-sm-1">
      <div
        class="mt-5"
        style="border-radius: 10px; background-color: rgba(255, 255, 255, 0.08)"
        class="myCard;"
      >
        <div class="row position-relative">
          <div class="col-lg-3 col-3">
            <img
              class="mt-1"
              style="
                border-radius: 50%;
                position: relative;
                z-index: 1;
                width: 70px;
              "
              src="Assets/aaron-williams.jpg"
              alt=""
            />
            <img
              class="mt-1"
              style="
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 20px;
              "
              src="Assets/ellipse-orange.png"
              alt=""
            />
          </div>
          <div class="col-lg-7 col-7 mt-1">
            <p
              class="lh-1"
              style="font-size: 24px; color: #f3af34; overflow: hidden"
            >
              Aaron Williams
            </p>
            <p style="font-size: 16px" class="text-white-50">Uproxx</p>
          </div>
          <div class="col-lg-2 col-2 mt-1">
            <img style="cursor: pointer" src="Assets/twitter.svg" alt="twt" />
          </div>
        </div>
        <div class="row">
          <p class="text-white ms-2">
            “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
          </p>
        </div>
        <div class="row">
          <p class="text-white-50 ms-2">December 24, 2018</p>
        </div>
      </div>
    </div>
  </div>
  <!-- End Card 3 -->
</div>
<!-- END ! Section 5 TOP SCORES -->
