<div class="container mt-5 vh-100 vw-100 bg-dark text-white">
  <div class="row">
    <div class="col-md-5">
      <form method="POST" autocomplete="off" class="mt-5">
        <h1 class="display-4" style="overflow: hidden">Login</h1>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="username"
            class="form-control"
            id="username"
            aria-describedby="usernameHelp"
            name="username"
          />
          <div id="usernameHelp" class="form-text">
            We'll never share your username with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
